.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.tipo {
  padding: 1rem;
}

.valor{
  padding: 1rem;
}
